<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <!-- <p *ngIf="game.parent_platforms?.length > 0" class="game-tabs-platforms"> -->
      <p class="game-tabs-platforms">
        Platforms:
        <span *ngFor="let game of game?.parent_platforms; let isLast = last">
          {{ game.platform.name }}
          <span *ngIf="!isLast">,</span>
        </span>
      </p>
      <p class="game-tabs-platforms" *ngIf="game?.publishers?.length > 0">
        Publishers:
        <span *ngFor="let publisher of game?.publishers; let isLast = last">
          {{ publisher.name }}
            <span *ngIf="!isLast">,</span>
        </span>
      </p>
      <p class="game-tabs-platforms" *ngIf="game?.website">
        Website:
        <a class="game-tabs-link" href="{{ game.website}}" target="_blank"></a>
      </p>
      <div class="game-desc" [innerHTML]="game?.description"></div>
      <p class="game-tabs-votes">
        <ng-container *ngFor="let rating of game?.ratings">
          <span *ngIf="rating?.title==='exceptional'">
            <mat-icon class="game-votes-up">thumb_up</mat-icon>
            <span class="game-votes-count"> {{ rating.count || 0 }} </span>
          </span>
          <span *ngIf="rating?.title==='skip'">
            <mat-icon class="game-votes-down">thumb_down</mat-icon>
            <span class="game-votes-count"> {{ rating.count || 0 }} </span>
          </span>
        </ng-container>
      </p>
    </mat-tab>

    <mat-tab label="Screenshots" *ngIf="game?.screenshots?.length > 0">
      <img *ngFor="let screenshot of game.screenshots "
           src="{{ screenshot.image }}"
           alt="screenshot"
           class="game-screenshot" />
    </mat-tab>

    <mat-tab label="Trailers" *ngIf="game?.trailers?.length">
      <video *ngFor="let trailer of game?.trailers"
             class="game-trailer"
             controls>
        <source src=" {{ trailer.data?.max }} " type="video/mp4">
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
